name: CI Testing

on: [push, pull_request]

jobs:
  setup-mysql:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Wait for MySQL to be ready
      run: |
        until mysqladmin ping -h 127.0.0.1 --silent; do
          echo 'waiting for mysql...'
          sleep 3
        done

    - name: Create database and table
      run: |
        mysql -h 127.0.0.1 -u root -ppassword -e "CREATE DATABASE spatial_test;"

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.0

    - name: Install Composer dependencies
      run: composer install

    - name: Run Composer tests
      run: composer test
